*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background:#000; 
    width: 100%;
}
#motherDiv{
background:#fff ;
    width: 90%;
    height:100vh;
margin-left:5% ;
}
#upper{
    border-style:initial;
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    align-self: center;
    align-content: center;
    justify-content: center;
}
#lower{
    display:flex;
    justify-content: center;
}
#upperLeft{
height:50vh;
width: 50%;
background:#cc5500;
border-bottom-left-radius:100px;
/* border-bottom-right-radius:80px;  */
}
#upperRight{
height:55vh;
width: 50%;
background:#cc5500;
border-bottom-left-radius: 80px;
/* border-bottom-right-radius: 40px; */
}
#lowerLeft{
    width:50%;
    height:40vh;
    border-top-left-radius: 100px;
    /* border-top-right-radius: 80px; */
    /* background:rgba(165, 42, 42, 0.473); */
    /* background: rgba(66, 63, 63, 0.967); */
    background:#101820ff;
    margin-top: 5vh;


}
#lowerRight{
    width:50%;
    height:45vh;
    /* background:rgba(165, 42, 42, 0.473); */
    background: #101820ff;
    border-top-left-radius: 100px;
/* border-top-right-radius: 40px; */

}